@model BaiTapMVC.Models.ClassSection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClassSection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassSectionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
